 <h1>退会の確認</h1>

 <div id="errors"></div>

 <p>退会した場合、ユーザーに関するデータが全て削除されます。</p>
 <p>ただし、以下の場合は退会できません。</p>

 <ul>
   <li>公開中の未終了イベントがある場合</li>
   <li>未終了の参加イベントがある場合</li>
 </ul>

 　<%= link_to "退会する", retirements_path, method: :post, remote: true, class: "", data: {confirm: "本当に退会しますか？"} %>
